.splash-container {
  background: #74379D  !important;
}

.home-menu {
  background: #efefef !important;
}

.home-menu a {
  color: #333 !important;
}

.home-menu .pure-menu-selected a {
  color: #333 !important;
}

.home-menu li a:hover,
.home-menu li a:focus {
  background: #ccc;
}

.pure-menu-children {
  background: #ccc;
}

.pure-button-primary {
  background: #74379D !important;
  color: #fff !important;
}

a {
  color: #74379D !important;
}
